@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}

header{
	padding-left: 3%;
	border-bottom: 3px solid black;
}


 .iteneraryInfo{
	display: flex;
	flex-direction: column;
}

.buttons{
	display: flex;
	flex-direction: column;
	border-right: 3px solid black;
	max-width: 250px;
	min-width: 250px;
}

.mainFlex{
	display: flex;
	margin-top: 3%;
}

.savedIteneraries{
	flex-basis: 80%;
	padding-left: 50px;
	border-left: 3px solid black;
}

footer{
	text-align: center;
	margin-top: 75px;
}

.iteneraryPreview{
	display: flex;
	flex-direction: column;
	margin: 2%;
	margin-bottom: 0%;
	min-width: 825px;
}

.save{
	display: flex;
	justify-content: center;
}

.saveButton{
	margin-top: 3%;
}

/* h3{
	border-bottom: 3px solid black;
} */

.savedCard{
	border: 3px solid black;
	border-radius: 10px;

}

.access{
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}

#parkSelect, #eaterySelect, #attractionSelect{
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.weatherBox{
	display: flex;
	justify-content: space-evenly;
	border: 2px solid black;
	margin: 2%;
	text-align: center;
}
.weatherDays, .weatherLows, .weatherHighs, .weatherPercip{
	display: flex;
	flex-direction: column;
	margin: 2%;
	text-align: center;
}
.weatherDays, .weatherLows, .weatherHighs{
	border-right: 2px solid black;
	padding-right: 85px;
}

.displayedAttractionDetails, .displayedEateryDetails{
	display: flex;
	border: 2px solid black;
	flex-direction: column;
	margin-top: 1%;
	border-radius: 7px;
	padding: 10px;
}

.closeAttBox, .closeEateryDetails{
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}