@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}

header{

	border-bottom: 3px solid #eb6e4b;
	border-radius: 10px;
}


 .iteneraryInfo{
	display: flex;
	flex-direction: column;
}

.buttons{
	display: flex;
	flex-direction: column;
	border-right: 3px solid #eb6e4b;
	max-width: 250px;
	min-width: 250px;
	border-radius: 10px;
}

.mainFlex{
	display: flex;
	margin-top: 3%;
}

.savedIteneraries{
	flex-basis: 80%;
	padding-left: 50px;
	border-left: 3px solid #eb6e4b;
	border-radius: 10px;
}

footer{
	text-align: center;
	margin-top: 75px;
}

.iteneraryPreview{
	display: flex;
	flex-direction: column;
	margin: 2%;
	margin-bottom: 0%;
	min-width: 825px;
}

.save{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.saveButton{
	margin-top: 3%;
}

/* h3{
	border-bottom: 3px solid black;
} */

.savedCard{
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	background: radial-gradient(ellipse at center,transparent 10%,#badfdb 100%);
}

.access{
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}

#parkSelect, #eaterySelect, #attractionSelect{
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;

}
.weatherBox{
	display: flex;
	justify-content: space-evenly;
	border: 2px solid black;
	margin: 2%;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	background: radial-gradient(ellipse at center,transparent 10%,#badfdb 100%);
	border-radius: 10px
}
.weatherDays, .weatherLows, .weatherHighs, .weatherPercip{
	display: flex;
	flex-direction: column;
	margin: 2%;
	text-align: center;
}
.weatherDays, .weatherLows, .weatherHighs{
	border-right: 2px solid black;
	padding-right: 10px;
	display: flex;
}

.rainCondition {
	padding-left: 1%;
	padding-right: 1%;
	/* padding-right: 85px; */
}

.displayedAttractionDetails, .displayedEateryDetails, .displayedParkDetails{
	display: flex;
	border: 2px solid black;
	flex-direction: column;
	margin-top: 1%;
	border-radius: 7px;
	padding: 10px;
	max-width: 825px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	background: radial-gradient(ellipse at center,transparent 10%,#badfdb 100%);
	border-radius: 10px
}

.closeAttBox, .closeEateryDetails, .closeParkDetails{
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}

.parkDropdown, .attractionDropdown, .eateryDropdown{
	margin-top: 50px;
}

h4{
	display: block;
}

.centerDetails{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.eaterySelected, .attractionSelected, #parkSelected{
	display: flex;
	flex-direction: column;
}

.parkDetails{
	background-size: contain;

}

.parkImage{
	max-width: 500px;
	border: 2px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.parkImageBox{
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
	
}

body{
	background-color: #e3efe4;
}

#stateSelect, #parkSelect, #attractionSelect, #eaterySelect{
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
	background: radial-gradient(ellipse at center,transparent 10%,#badfdb 100%);
	border-radius: 10px
}

button{
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
	background: radial-gradient(ellipse at center,transparent 10%,#eb6e4b 100%);
	border-radius: 10px;
	padding: 6px;
}

.logo{
	max-height: 100px;
}